<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flights">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- permission to get Coarse Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Flights">
        <activity android:name=".Activities.ClientApiKey"
            android:label="@string/clientApiKeyActivityName">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <!-- Include the host attribute if you want your app to respond
                     only to URLs with your app's domain. -->
                <data android:scheme="http" android:host="www.google.com" />
                <category android:name="android.intent.category.DEFAULT" />
                <!-- The BROWSABLE category is required to get links from web pages. -->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.FavoriteFlightsDetails" />
        <activity android:name=".Activities.FlightDateCurrency" />
        <activity android:name=".Activities.FlightDate" />
        <activity android:name=".Activities.DepartureFlightLocations" />
        <activity
            android:name=".Activities.DatabaseClasses.FavoriteFlightsDatabaseActivity"
            android:label="@string/favorite_flights_activity_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">

            <!-- <meta-data -->
            <!-- android:name="com.google.android.gms.ads.APPLICATION_ID" -->
            <!-- android:value="ca-app-pub-3940256099942544/1033173712"/> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~1033173712" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.ads.AD_MANAGER_APP" -->
        <!-- android:value="true"/> -->
        <!-- android:value="true"/> -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <service
            android:name=".GetFlightsService"
            android:label="@string/get_flights_service" />
        <service
            android:name=".Widget.FavoriteFlightWidgetService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name=".Widget.FavoriteFlightWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_flight_widget_size" />
        </receiver>
    </application>

</manifest>

<!--          android:noHistory="true">-->